In [1]:
# for loops

In [2]:
seq=[1,2,3,4,5]

In [3]:
for item in seq:
    print(item)

1
2
3
4
5

In [4]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [5]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [6]:
#while loop

In [9]:
i=1
while i<=5:
    print('i is {}'.format(i))
    i+=1

i is 1
i is 2
i is 3
i is 4
i is 5

In [10]:
#range()

In [11]:
for x in seq:
    print(x)

1
2
3
4
5

In [12]:
range(0,5)

range(0, 5)

In [14]:
for x in range(0,5):
    print (x)

0
1
2
3
4

In [15]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#list comprehension

In [17]:
x=[1,2,3,4]

In [18]:
out =[]

In [19]:
for num in x:
    out.append(num**2)

In [20]:
print(out)

[1, 4, 9, 16]

In [21]:
[num**2 for num in x]

[1, 4, 9, 16]

In [22]:
out = [num**2 for num in x]

In [23]:
out

[1, 4, 9, 16]

In [24]:
#functions

In [25]:
def my_func(param1):
    print(param1)

In [26]:
my_func('hello')

hello

In [27]:
def my_func(name):
    print('hello '+name )

In [28]:
my_func('Atharv')

hello Atharv

In [31]:
my_func

In [32]:
def square(num):
    return num**2

In [33]:
output = square(2)

In [34]:
output

4

In [35]:
def square(num):
    """
    This is a docstring.
    Can go multiple lines.
    this function squares a number.
    """
    return num**2